<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>942817987530-3d6ibuep1i0diagiht4a9fd3jbrpdlp1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.942817987530-3d6ibuep1i0diagiht4a9fd3jbrpdlp1</string>
	<key>API_KEY</key>
	<string>AIzaSyCXekfAdomyzkP6kqtr7BOdoyf6I9LoB10</string>
	<key>GCM_SENDER_ID</key>
	<string>942817987530</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>wenote-firebasebundle.weNote</string>
	<key>PROJECT_ID</key>
	<string>we-note-535ef</string>
	<key>STORAGE_BUCKET</key>
	<string>we-note-535ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:942817987530:ios:f349825ad78097241d9d33</string>
	<key>DATABASE_URL</key>
	<string>https://we-note-535ef-default-rtdb.firebaseio.com</string>
</dict>
</plist>